@import './../../assets/fonts.scss';
@import './../../assets/colors.scss';

.oe-dropdown-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  & .oe-form-label {
    font-family: $secondary-font-regular;
    font-size:12px;
    font-weight: $font-weight-bold;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #717171;
    text-align: left;
    height: 32px;
    padding: 5px 0px 1px 0px;
  }

  & .oe-dropdown {
    margin: 0px 0;
    width: 100%;
    border: 1px solid $input-border;
    border-radius: 3px;
    &:hover,&:active,&:focus{
      border: 1px solid $theme-primary;
      box-shadow: unset;
    }
  }
  & .ant-select-focused .ant-select-selector,
  .ant-select-selector:focus,
  .ant-select-selector:active,
  .ant-select-open .ant-select-selector {
    border: unset;
    border-color: $theme-primary !important;
  }
  & .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    padding: 1px 8px;
    height: 33px;
    border: unset;
    background: #fff;
    font-size: $font-size-14;
    font-family: $primary-font-regular;
    color: #202020;
  }

  & .ant-select-clear {
    font-size: $font-size-14;
  }
}
