@import "./../../assets/colors.scss";
@import "./../../assets/fonts.scss";

.oe-form-wrapper {
  display: flex;
  // align-items: center;
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
  & .oe-form-error {
    color: red;
    font-size: 1em;
    margin: 4px 0;
  }
  & .oe-form-label {
    font-family: $primary-font-regular;
    font-size: $font-size-13;
    font-weight: $font-weight-bold;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: normal;
    letter-spacing: normal;
    color: $typo-text-1;
    width: 250px;
    max-width: 250px;
    margin-right: 20px;
    padding: 5px 0px 1px 0px;
    & > .oe-astreak {
      color: #ec3737;
      margin-left: 2px;
    }
  }
  & .oe-form-value {
    font-family: $primary-font-regular;
    font-size: $font-size-13;
    font-weight: normal;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6a6a6a;
    width: 100%;
    line-height: 1.5;
    & img {
      cursor: context-menu;
    }
    & .oe-form-error {
      color: inherit;
      border: 1px solid #de0808;
    }
    & .oe-form-error-text {
      color: #de0808;
    }
  }
  & .oe-form-input.ant-input {
    line-height: 32px;
    border-radius: 3px;
    border: solid 1px $input-border;
    &:focus,
    &:hover,
    &:active {
      box-shadow: none;
      border: solid 1px $theme-primary;
    }
    &.oe-form-error {
      border: 1px solid #de0808;
    }
  }

  & .oe-form-dropdown {
    margin-right: 0px;
    border-radius: 3px;
    & .oe-dropdown.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      color: $typo-text-1;
      border-radius: 3px;
      border: unset;
      background-color: #fff;
      &:focus,
      &:hover,
      &:active {
        box-shadow: none;
        border: unset;
      }
    }
    & .ant-select-arrow {
      color: $input-border;
    }
  }
}
