@import "./../../assets/colors.scss";
@import "./../../assets/fonts.scss";

.dispute_Footer {
  position: absolute;
  z-index: 99;
  right: 0px;
  padding: 4px 32px 12px;
  background-color: #fff;
  bottom: 0px;
  width: 100%;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    right: 0px;
    left: 0px;
    top: -10px;
    height: 21px;
    border-top: 1px solid $border-variant-1;
    background-color: $background-color;
  }
}

