@import './../../assets/colors.scss';
@import './../../assets/fonts.scss';

.oe-card {
  width: 20%;
  min-width: 210px;
  height: 80px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 1px #ccc;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px;
  margin-right: 24px;
  & .oe-card-value {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    color:#fff;
    background-color: #10a2ce;
    padding: 4px 10px;
    margin: 4px 0;
    max-width: 120px;
    text-align: center;
    border-radius: 0 18.5px 18.5px 0px;
    white-space: nowrap;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    &.big-card-value {
      font-size: 16px;
    }
  }
  & .oe-card-desc {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: $typo-text-2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0 10px;
    overflow: hidden;
  }
  &:last-child {
    margin: 0;
  }
}

@media screen and (max-width: 1280px) {
  .oe-card {
    padding: 10px 0px;
    margin-right: 16px;
  }
}