@import './../../assets/colors.scss';
@import './../../assets/fonts.scss';

.oe-modal {
  font-family: $primary-font-regular;
  & .ant-spin-nested-loading, & .ant-spin-container {
    position: static;
  }
  & .ant-modal-content {
    border-radius: 10px;
  }
  & .ant-modal-header {
    padding: 20px 32px;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 1px $border-variant-1;
  }
  & .ant-modal-title {
    font-family: $primary-font-medium;
    font-size: $font-size-20;
    font-weight: $font-weight-normal;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: normal;
    letter-spacing: normal;
    color: $typo-text-1;
  }
  & .ant-modal-body {
    font-family: $primary-font-regular;
    font-size: $font-size-heading-4;
    font-weight: $font-weight-normal;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6a6a6a;
    padding: 0px 0px 0px 0px;
    max-height: 74vh;
    min-height: max-content;
    overflow-y: auto;
    & .oe-modal-content {
      // height: 65vh;
      .oe-table {
        .ant-table-thead {
          &::after {
            height: 4px;
            border-top: 2px solid $background-color;
            width: calc(100% - 70px);
            left: 32px;
          }
          tr {
            border-bottom: 1px solid $input-border;
          }
        }
      }
      .ant-row-space-between {
        padding: 0px 32px;
      }
      .ant-table {
        padding: 0px 32px;
      }
      & .ant-pagination {
        margin: 0px;
        position: absolute;
        align-content: center;
        width: 100%;
        right: 0px;
        padding-top: 20px;
        &::before {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          margin-top: -15px;
          background-color: $border-variant-1;
        }
      }
    }
  }
  & .ant-modal-footer {
    visibility: hidden;
  }
  & .ant-modal-close {
    top: 12px;
    right: 24px;
  }
  & .ant-modal-close-x {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    line-height: 52px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      background-color: #ededed;
    }
  }
}

.description_modal {
  .ant-modal-content {
    border-radius: 10px;
    max-width: 100vh;
    .ant-modal-body {
      max-height: 60vh;
      height: fit-content;
      min-height: 5vh;
      .oe-modal-content{
        height: fit-content;
      }
    }
  }
  &.oe-modal .ant-modal-footer {
    display: none;
  }
}


@media screen and (max-width: 1280px) {
  .oe-modal { 
    & .ant-modal-body {
      max-height: 70vh;
    }
  }
}