.form-section {
  padding: 32px 24px 50px;
  border-bottom: solid 1px #e2dfdf;
  width: 100%;
  &:last-child {
    border-bottom: none;
  }
  &:last-of-type {
    margin-bottom: 20px;
  }
  &.form-section-writable {
    // background-color: #f6fdff;
  }
  & .extended-property-label {
    font-family: "Roboto-Medium";
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
    margin-bottom: 24px;
  }
}

.oe-ed-wrapper {
  // margin-top: 24px;
  max-height: 60vh;
  overflow-y: auto;
}
.accordion_footer {
  position: relative;
  margin-right: 200px;
  padding-top: 10px;
  button.cancel,
  button.save {
    border-radius: 30px;
    height: 40px;
    width: 110px;
    padding: 13px 29px 9px 35px;
    border: 1px solid #037da1;
    border-radius: 40px;
  }
}
