@import "./../../assets/colors.scss";
@import "./../../assets/fonts.scss";

.form-section {
  padding: 24px;
  border-bottom: solid 1px $form-section-border;
  width: 100%;
  &.form-top-border {
    border-top: solid 1px $form-section-border;
    border-bottom: none;
  }
  &:last-child {
    border-bottom: none;
  }
  &:last-of-type {
    margin-bottom: 0px;
    // padding-bottom: 0px;
  }
  &.form-section-writable {
    // background-color: #f6fdff;
  }
  & .extended-property-label {
    font-family: $primary-font-medium;
    font-size: $font-size-18;
    font-weight: $font-weight-normal;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: normal;
    letter-spacing: normal;
    color: $typo-text-1;
    margin-bottom: 24px;
  }

  & .oe-review-checkbox {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #10a2ce;
  }
}

.oe-ed-wrapper {
  // max-height: 65vh;
  // overflow-y: scroll;
}
// .edit {
//   max-height: 65vh;
// }
.readOnly {
  //max-height: 65vh;
  border-radius:  0 0 10px 10px;
  overflow-y: scroll;
  &::-webkit-scrollbar-track {
    background-clip: content-box;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    display: hidden;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track:hover {
    display: block;
    cursor: pointer;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b2b2b2;
    cursor: pointer;
  }
  .oe_scrollSection {
    max-height: unset;
  }
}

.oe_scrollSection {
  max-height: 55vh;
  margin-top: 50px;
  margin-bottom: 20px;
}
.accordion_footer {
  position: absolute;
  width: 100%;
  padding: 12px 10px;
  height: 60px;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid $border-variant-1;
  // &::before {
  //   position: absolute;
  //   width: 100%;
  //   content: "";
  //   top: -1px;
  //   height: 1px;
  //   background-color: $border-variant-1;
  // }
  button.save {
    &:last-child {
      margin-right: 32px;
    }
  }
}

.oe-workgroup-icons {
  margin: 0 16px;
  cursor: pointer;
}

.oe-workgroup-loader {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.oe-modal .ant-modal-body .oe-modal-content .ant-table {

}
.oe-review-table {
  & tr th {
    background-color: #d5eaf9;
  }
  & tr td, & tr th {
    font-size: 13px;
    padding: 10px 16px;
  }
}

.oe-accordion {
  & .oe-review-accordion {
    border: none;
    background: #f1f1f1;
    & .ant-collapse-content {
      margin-bottom: 0;
    }
    & .ant-collapse-header {
      font-family: $primary-font-regular;
      font-size: $font-size-13;
      font-weight: $font-weight-bold;
      font-stretch: normal;
      font-style: $font-style-normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
  & .ant-collapse-content > .ant-collapse-content-box {
    padding: 16px 0;
  }
}


@media screen and (max-width: 1280px) and (max-height: 1024px) and (min-height: 600px) {
  .oe-ed-wrapper {
    margin-top: 8px;
    overflow-y: auto;
  }
}
