@import './../../assets/fonts.scss';
@import './../../assets/colors.scss';

.oe-action-dialog {
  font-family: $primary-font-regular;

  & .oe-action-modal-header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .dialog-icon {
      font-size: $font-size-40;
    }

    & .oe-ad-success {
      color: green;
    }
    & .oe-ad-error {
      color: red;
    }
  }

  & .oe-action-modal-content {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-heading-4;
    flex-direction: column;
  }

  & .ant-modal-content {
    border-radius: 10px;
  }
  & .ant-modal-header {
    padding: 20px 32px;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 1px $border-disabled;
  }
  & .ant-modal-title {
    font-family: $primary-font-medium;
    font-size: $font-size-heading-4;
    font-weight: $font-weight-normal;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: normal;
    letter-spacing: normal;
    color: $title-color;
  }
  & .ant-modal-body {
    font-family: $primary-font-regular;
    font-size: $font-size-14;
    font-weight: normal;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6a6a6a;
    padding: 28px 32px;
    & .oe-modal-content {
      height: 70vh;
      overflow-y: auto;
    }
  }
  & .ant-modal-footer {
    display: none;
  }
  & .ant-modal-close {
    top: 12px;
    right: 12px;
  }
  & .ant-modal-close-x {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    line-height: 28px;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    &:hover {
      background-color: #ededed;
    }
  }
}