@import './../../assets/fonts.scss';
@import './../../assets/colors.scss';

.oe-tabs {
  & .ant-tabs-tab {
    min-width: 100px;
    justify-content: center;
    margin-right: 4px;
    font-size: $font-size-14;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: normal;
    letter-spacing: normal;
  }
  &.filled-tab .ant-tabs-tab {
    background: #ededed;
  }
  &.filled-tab .ant-tabs-tab.ant-tabs-tab-active {
    background: #def0ff;
  }
  &.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
    height: 2px;
    background: #10a2ce;
    border-radius: 10px;
  }
  & .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $typo-text-2;
    font-weight: 300;
    font-size: 24px;
  }
  & .ant-tabs-tab-btn {
    color: rgba(0, 0, 0, 0.38);
  }
  &.ant-tabs > .ant-tabs-nav {
    // border-bottom: 1px solid #dddddd;
    margin: 8px 50px;
  }
  // &.ant-tabs >home_tab
}

@media screen and (max-width: 600px) {
  .oe-tabs {
    &.ant-tabs > .ant-tabs-nav {
      margin: 8px 60px;
    }
  }
}