@import './../../assets/colors.scss';
@import './../../assets/fonts.scss';

.oe-rte {
  & .DraftEditor-root {
    font-family: $primary-font-regular;
    font-size: $font-size-14;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #717171;
    width: 100%;
    line-height: 1.5;
  }

  & .DraftEditor-editorContainer {
    & .public-DraftEditor-content {
      min-height: 150px;
    }
  }

  & .oe-rte-text-count {
    padding: 8px 12px 0;
    font-family: "Roboto-Regular";
    font-size: $font-size-14;
    font-weight: normal;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black;
  }

  & .oe-rte-root {
    border-radius: 3px;
    border: solid 1px $input-border;

    & .oe-rte-toolbar {
      background-color: $background-color;
      margin: 0;
      padding: 8px 16px 8px;
    }
    & .ButtonGroup__root___3lEAn {
      margin: 0 5px 0px 0;
      white-space: nowrap;
      border-right: 1px solid $input-border;
      &:last-child {
        border-right: none;
      }

      &>div>button {
        margin-right: 12px;
        border: none;
        background: transparent;
        &.IconButton__isActive___2Ey8p {
          background: none $border-variant-1;
        }
      }
      
    }
    &:focus,&:hover,&:active {
      box-shadow: none;
      border: solid 1px $theme-primary;
    }
  }
}