.oe-search {
  height: 35px;
  &.ant-input-affix-wrapper {
    background-color: #eef3f8;
    border-color: #eef3f8;
    border-radius: 3px;
  }
  & .ant-input {
    line-height: 24px;
    height: 25px;
    background-color: transparent;
    &::placeholder {
      color: #7d86a9;
    }
  }
  & .ant-input-suffix {
    opacity: 0.7;
    & .ant-btn {
      &:focus {
        background: unset;
      }
      &:hover {
        background: unset;
      }
    }
  }
}
