.oe-scheduled-cert-table {
  height: auto;
  width: 100%;
  .ant-table-container {
    scroll-behavior: smooth;
    overflow: hidden;
    .ant-table-thead{
      tr {
        .ant-table-cell {
          padding: 5px 15px;
        }
      }
    }
    .ant-table-body {
      tr {
        .ant-table-cell {
          padding: 15px;
        }
      }
    }
  }
}

.oe-sc-row-padding {
  // padding: 20px 0;
}
