@import "./../../assets/colors.scss";
@import "./../../assets/fonts.scss";

.oe-adv-search {
  .oe-popover {
    & .adv-btn-wrapper {
      margin-left: 19px;
      border-radius: 4px;
      height: 35px;
      line-height: 14px;
      padding: 8px;
      span {
        padding: 2px 2px 0px 5px;
      }
      img {
        margin-top: -2px;
      }
    }
  }
}

.oe-adv-search-content {
  padding: 8px;
  max-width: 900px;
  min-width: 900px;
  min-height: fit-content;
  // max-height: 420px;
  .oe-adv-search-content_form {
    max-height: 400px;
    overflow-y: auto;
  }
  & .divider {
    width: 100%;
    height: 1px;
    margin: 10px 0 1px;
    border: solid 1px $divider-color;
  }

  & .oe-adv-search-input,
  & .oe-adv-search-datepicker {
    line-height: 34px;
    height: 35px;
    width: 96%;
    font-size: $font-size-16;
    font-family: $primary-font-regular;
    color: #202020;
    border: 1px solid $input-border;
    .ant-input {
      background-color: #fff;
    }
    &:hover,
    &:active,
    &:focus {
      border: 1px solid $theme-primary;
      box-shadow: unset;
    }
  }

  & .ant-form-item {
    margin-bottom: 5px;
  }
  & .ant-form-item-label > label {
    font-family: $secondary-font-regular;
    font-size: $font-size-12;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #717171;
    margin-bottom: 0;
  }
}

.oe-btn.ant-btn.oe-btn-primary.oe-advance-search-btn {
  border-radius: 4px;
  height: 33px;
  line-height: 14px;
  padding: 8px;
  min-width: auto;
  span {
    // padding: 2px 2px 0px 5px;
  }
}
.ant-btn.oe-btn.transBtn{
  transition-duration: 0.5s;
  transition-property: background-color,color,box-shadow;
    box-shadow: inset 0 0 0 0px $theme-primary;
    box-sizing: border-box;
  &:hover,
  &:focus {
    color: $theme-primary;
    background-color: #037ca11a;
    outline: 0;
  }
}

.oe-overlay {
  left: 90px !important; //Not able to override this style by normal way

  & .ant-popover-arrow {
    display: none;
  }
  & .oe-overlay-footer {
    padding: 10px 0px 0px 0px;
  }
  & .oe-overlay-header {
    padding: 8px 0 2px;
    font-size: $font-size-14;
    line-height: 20px;
    font-weight: bold;
    background-color: $background-color;
    position: sticky;
    top: 0;
  }
  & .oe-overlay-subheader {
    font-family: "MyriadPro-Semibold";
    line-height: 1.83;
    margin: 10px 0px 5px 0;
    font-weight: $font-weight-normal;
    letter-spacing: normal;
    color: #717171;
  }
}

@media screen and (max-width: 600px) {
  .oe-adv-search {
    & .adv-btn-wrapper {
      margin: 12px 0;
    }
  }
  .oe-adv-search-content {
    padding: 12px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .oe-adv-search-content {
    min-width: 600px;
  }
}
