@import './../../assets/colors.scss';
@import './../../assets/fonts.scss';

.oe-adv-search {
  .oe-popover{
    & .adv-btn-wrapper {
      margin-left: 19px;
      border-radius: 4px;
      height: 35px;
      line-height: 14px;
      padding: 8px;
      span{
        padding: 2px 2px 0px 5px;
      }
      img{
        margin-top: -2px;
      }
    }
  }
}

.oe-adv-search-content {
  padding: 8px;
  width: 900px;
  min-height: fit-content;
  max-height: 420px;
  .oe-adv-search-content_form {
    max-height: 320px;
    overflow-y: auto;
  }
  & .divider {
    width: 100%;
    height: 1px;
    margin: 10px 0 1px;
    border: solid 1px $divider-color;
  }

  & .oe-adv-search-input,
  & .oe-adv-search-datepicker {
    line-height: 34px;
    height: 35px;
    width: 96%;
    background: #f1f7ff;
    font-size: 16px;
    font-family: $primary-font-regular;
    color: #7d86a9;
    border: 1px solid $input-border;
    &:hover,&:active,&:focus{
      border: 1px solid $theme-primary;
      box-shadow: unset;
    }
  }

  & .ant-form-item{
    margin-bottom: 5px;
  }
  & .ant-form-item-label > label {
    font-family: $secondary-font-regular;
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.85);
  }
}

.oe-overlay {
  left: 60px !important; //Not able to override this style by normal way

  & .ant-popover-arrow {
    display: none;
  }
  & .oe-overlay-footer {
    padding: 10px 0px 0px 0px;
  }
  & .oe-overlay-header {
    padding: 8px 0 2px;
    font-size: 14px;
    line-height: 20px;
    background-color: $background-color;
    position: sticky;
    top: 0;
  }
  & .oe-overlay-subheader {
    font-family: "MyriadPro-Semibold";
    line-height: 1.83;
    margin: 10px 0px 5px 0;
    font-weight: $font-weight-normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.85);
  }
}

@media screen and (max-width: 600px) {
  .oe-adv-search {
    & .adv-btn-wrapper {
      margin: 12px 0;
    }
  }
  .oe-adv-search-content {
    padding: 12px;
    width: 100%;
    min-height: 100%;
  }
}
