@import "./../../assets/fonts.scss";
@import "./../../assets/colors.scss";

.oe-table {
  & .ant-table {
    font-size: 13px;
    color: $color-table-cell;
  }
  & .ant-table-thead {
    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      border-radius: 10px;
      z-index: 9;
      background-color: #dfe1e6;
      height: 4px;
      border-top: 2px solid #ffffff;
      width: calc(100% - 0px);
    }

    & > tr {
      & > th {
        color: $color-table-head;
        background: $background-color-table-head;
        height: 56px;
        font-size: 16px;
        // &:last-child{
        //   // display: none;
        // }
      }
    }
  }
  & .ant-checkbox-inner {
    border: 1px solid $border-color-normal;
    opacity: 0.38;
  }
  .ant-checkbox-indeterminate {
    .ant-checkbox-inner {
      opacity: 1;
    }
    .ant-checkbox-inner::after {
      background-color: #3aadcf;
    }
  }
  & .ant-checkbox-checked {
    & .ant-checkbox-inner {
      opacity: 1;
      background-color: #3aadcf;
    }
  }
  & .ant-table-tbody {
    & > tr.ant-table-row-selected > td {
      background: #e9faff;
    }
    // & > .ant-table-row:hover > td {
    //   // background-color: unset;
    //   .oe-td-description {
    //     // color: #0a66c2;
    //   }
    // }
    & > tr > td {
      & > a {
        color: #00a2d1;
        &:hover {
          color: #037da1;
          cursor: pointer;
        }
      }
    }
  }
  & .ant-pagination-item-active {
    background: #0894bd;
    border-color: #0894bd;
  }
  & .ant-pagination-item-active a {
    color: #fff;
  }
  & .ant-pagination.mini .ant-pagination-prev,
  .ant-pagination.mini .ant-pagination-next {
    margin: 0 16px;
  }
  & .ant-table-pagination.ant-pagination {
    margin-top: 32px;
  }
  & .ant-pagination.mini .ant-pagination-item {
    margin: 0 4px;
    font-size: 12px;
  }
  & .ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector {
    font-size: 12px;
  }
  & .oe-icon-btn {
    width: 20px;
    height: 20px;
    padding: 4px 10px;
    // border: 1px solid #aaa;
    border-radius: 2px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:last-child {
      margin-right: 0;
    }
    &.oe-icon-view {
      background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEyMjIgLTY5OSkgdHJhbnNsYXRlKDQyIDQ5MykgdHJhbnNsYXRlKDc0IDIwMSkgdHJhbnNsYXRlKDExMDYgNSkiPgogICAgICAgICAgICAgICAgICAgICAgICA8cmVjdCB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHg9Ii41IiB5PSIuNSIgZmlsbD0iI0ZGRiIgc3Ryb2tlPSIjQUNBQ0FDIiByeD0iMiIvPgogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBmaWxsPSIjNzE3MTcxIiBkPSJNMTAgNmMyLjQgMCA0LjMxNiAxLjMzOCA1LjY5NyAzLjkxMWwuMTI4LjI0NS4xNzUuMzQ0LS4xNzUuMzQ0QzE0LjQzNSAxMy41NzcgMTIuNDc1IDE1IDEwIDE1Yy0yLjQgMC00LjMxNi0xLjMzOC01LjY5Ny0zLjkxMWwtLjEyOC0uMjQ1TDQgMTAuNWwuMTc1LS4zNDRDNS41NjUgNy40MjMgNy41MjUgNiAxMCA2em0wIDEuNWMtMS42OTcgMC0zLjA4Mi44OS00LjE5MiAyLjc5MmwtLjExOC4yMDguMTE4LjIwOEM2LjkxOCAxMi42MDkgOC4zMDMgMTMuNSAxMCAxMy41YzEuNzU4IDAgMy4xOC0uOTU2IDQuMzEtMy0xLjEzLTIuMDQ0LTIuNTUyLTMtNC4zMS0zek0xMCA5Yy44MjggMCAxLjUuNjcyIDEuNSAxLjVTMTAuODI4IDEyIDEwIDEycy0xLjUtLjY3Mi0xLjUtMS41UzkuMTcyIDkgMTAgOXoiLz4KICAgICAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=');
      &:hover {
        background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMjIyIC01NjgpIHRyYW5zbGF0ZSgxMjIyIDU2OCkiPgogICAgICAgICAgICAgICAgPHJlY3Qgd2lkdGg9IjE5IiBoZWlnaHQ9IjE5IiB4PSIuNSIgeT0iLjUiIGZpbGw9IiNGRkYiIHN0cm9rZT0iI0IwRDhFNCIgcng9IjIiLz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9IiMwMzdEQTEiIGQ9Ik0xMCA2YzIuNCAwIDQuMzE2IDEuMzM4IDUuNjk3IDMuOTExbC4xMjguMjQ1LjE3NS4zNDQtLjE3NS4zNDRDMTQuNDM1IDEzLjU3NyAxMi40NzUgMTUgMTAgMTVjLTIuNCAwLTQuMzE2LTEuMzM4LTUuNjk3LTMuOTExbC0uMTI4LS4yNDVMNCAxMC41bC4xNzUtLjM0NEM1LjU2NSA3LjQyMyA3LjUyNSA2IDEwIDZ6bTAgMS41Yy0xLjY5NyAwLTMuMDgyLjg5LTQuMTkyIDIuNzkybC0uMTE4LjIwOC4xMTguMjA4QzYuOTE4IDEyLjYwOSA4LjMwMyAxMy41IDEwIDEzLjVjMS43NTggMCAzLjE4LS45NTYgNC4zMS0zLTEuMTMtMi4wNDQtMi41NTItMy00LjMxLTN6TTEwIDljLjgyOCAwIDEuNS42NzIgMS41IDEuNVMxMC44MjggMTIgMTAgMTJzLTEuNS0uNjcyLTEuNS0xLjVTOS4xNzIgOSAxMCA5eiIvPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K');
      }
    }
    &.oe-icon-edit {
      background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEyNTEgLTY5OSkgdHJhbnNsYXRlKDQyIDQ5MykgdHJhbnNsYXRlKDc0IDIwMSkgdHJhbnNsYXRlKDExMzUgNSkiPgogICAgICAgICAgICAgICAgICAgICAgICA8cmVjdCB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHg9Ii41IiB5PSIuNSIgZmlsbD0iI0ZGRiIgc3Ryb2tlPSIjQUNBQ0FDIiByeD0iMiIvPgogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBmaWxsPSIjNzE3MTcxIiBkPSJNMTUuMjUgMTQuNWMuNDE0IDAgLjc1LjMzNi43NS43NXMtLjMzNi43NS0uNzUuNzVINC43NWMtLjQxNCAwLS43NS0uMzM2LS43NS0uNzVzLjMzNi0uNzUuNzUtLjc1aDEwLjV6TTcuMjIgOS40N2w1LjI1LTUuMjVjLjI3LS4yNy42OTUtLjI5MS45OS0uMDYzbC4wNy4wNjMgMi4yNSAyLjI1Yy4yNy4yNy4yOTEuNjk1LjA2My45OWwtLjA2My4wNy01LjI1IDUuMjVjLS4xMTcuMTE4LS4yNjkuMTkyLS40MzEuMjEzTDEwIDEzSDcuNzVjLS4zODUgMC0uNzAyLS4yOS0uNzQ1LS42NjNMNyAxMi4yNVYxMGMwLS4xNjYuMDU1LS4zMjYuMTU1LS40NTZsLjA2NS0uMDc0IDUuMjUtNS4yNS01LjI1IDUuMjV6TTEzIDUuODFsLTQuNSA0LjV2MS4xOWgxLjE5bDQuNS00LjVMMTMgNS44MXoiLz4KICAgICAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=');
      &:hover {
        background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMjUxIC01NjgpIHRyYW5zbGF0ZSgxMjUxIDU2OCkiPgogICAgICAgICAgICAgICAgPHJlY3Qgd2lkdGg9IjE5IiBoZWlnaHQ9IjE5IiB4PSIuNSIgeT0iLjUiIGZpbGw9IiNGRkYiIHN0cm9rZT0iI0IwRDhFNCIgcng9IjIiLz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9IiMwMzdEQTEiIGQ9Ik0xNS4yNSAxNC41Yy40MTQgMCAuNzUuMzM2Ljc1Ljc1cy0uMzM2Ljc1LS43NS43NUg0Ljc1Yy0uNDE0IDAtLjc1LS4zMzYtLjc1LS43NXMuMzM2LS43NS43NS0uNzVoMTAuNXpNNy4yMiA5LjQ3bDUuMjUtNS4yNWMuMjctLjI3LjY5NS0uMjkxLjk5LS4wNjNsLjA3LjA2MyAyLjI1IDIuMjVjLjI3LjI3LjI5MS42OTUuMDYzLjk5bC0uMDYzLjA3LTUuMjUgNS4yNWMtLjExNy4xMTgtLjI2OS4xOTItLjQzMS4yMTNMMTAgMTNINy43NWMtLjM4NSAwLS43MDItLjI5LS43NDUtLjY2M0w3IDEyLjI1VjEwYzAtLjE2Ni4wNTUtLjMyNi4xNTUtLjQ1NmwuMDY1LS4wNzQgNS4yNS01LjI1LTUuMjUgNS4yNXpNMTMgNS44MWwtNC41IDQuNXYxLjE5aDEuMTlsNC41LTQuNUwxMyA1LjgxeiIvPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K');
      }
    }
    &.oe-icon-export {
      background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEyODEgLTY5OSkgdHJhbnNsYXRlKDQyIDQ5MykgdHJhbnNsYXRlKDc0IDIwMSkgdHJhbnNsYXRlKDExNjUgNSkiPgogICAgICAgICAgICAgICAgICAgICAgICA8cmVjdCB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHg9Ii41IiB5PSIuNSIgZmlsbD0iI0ZGRiIgc3Ryb2tlPSIjQUNBQ0FDIiByeD0iMiIvPgogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBmaWxsPSIjNzE3MTcxIiBkPSJNNi4yNSA0aDEuNWMuNDE0IDAgLjc1LjMzNi43NS43NSAwIC4zODUtLjI5LjcwMi0uNjYzLjc0NUw3Ljc1IDUuNWgtMS41Yy0uMzg1IDAtLjcwMi4yOS0uNzQ1LjY2M0w1LjUgNi4yNXY3LjVjMCAuMzg1LjI5LjcwMi42NjMuNzQ1bC4wODcuMDA1aDcuNWMuMzg1IDAgLjcwMi0uMjkuNzQ1LS42NjNsLjAwNS0uMDg3di0xLjVjMC0uNDE0LjMzNi0uNzUuNzUtLjc1LjM4NSAwIC43MDIuMjkuNzQ1LjY2M2wuMDA1LjA4N3YxLjVjMCAxLjE5OC0uOTM3IDIuMTc4LTIuMTE4IDIuMjQ2TDEzLjc1IDE2aC03LjVjLTEuMTk4IDAtMi4xNzgtLjkzNy0yLjI0Ni0yLjExOEw0IDEzLjc1di03LjVjMC0xLjE5OC45MzctMi4xNzggMi4xMTgtMi4yNDZMNi4yNSA0aDEuNS0xLjV6bTkgMGwuMDYuMDAyLjA5LjAxMy4wODQuMDIyLjA4My4wMzMuMDc0LjA0LjA3Mi4wNS4wNjcuMDYuMDczLjA4NC4wNTMuMDgzLjAyNC4wNDYuMDI1LjA2LjAxOC4wNTguMDIyLjExLjAwNS4wODl2M2MwIC40MTQtLjMzNi43NS0uNzUuNzVzLS43NS0uMzM2LS43NS0uNzVWNi41NmwtMy4yMiAzLjIyYy0uMjcuMjctLjY5NS4yOTEtLjk5LjA2M2wtLjA3LS4wNjNjLS4yNy0uMjctLjI5MS0uNjk1LS4wNjMtLjk5bC4wNjMtLjA3IDMuMjE4LTMuMjJIMTIuMjVjLS40MTQgMC0uNzUtLjMzNi0uNzUtLjc1cy4zMzYtLjc1Ljc1LS43NWgzeiIvPgogICAgICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==');
      &:hover {
        background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMjgxIC01NjgpIHRyYW5zbGF0ZSgxMjgxIDU2OCkiPgogICAgICAgICAgICAgICAgPHJlY3Qgd2lkdGg9IjE5IiBoZWlnaHQ9IjE5IiB4PSIuNSIgeT0iLjUiIGZpbGw9IiNGRkYiIHN0cm9rZT0iI0IwRDhFNCIgcng9IjIiLz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9IiMwMzdEQTEiIGQ9Ik02LjI1IDRoMS41Yy40MTQgMCAuNzUuMzM2Ljc1Ljc1IDAgLjM4NS0uMjkuNzAyLS42NjMuNzQ1TDcuNzUgNS41aC0xLjVjLS4zODUgMC0uNzAyLjI5LS43NDUuNjYzTDUuNSA2LjI1djcuNWMwIC4zODUuMjkuNzAyLjY2My43NDVsLjA4Ny4wMDVoNy41Yy4zODUgMCAuNzAyLS4yOS43NDUtLjY2M2wuMDA1LS4wODd2LTEuNWMwLS40MTQuMzM2LS43NS43NS0uNzUuMzg1IDAgLjcwMi4yOS43NDUuNjYzbC4wMDUuMDg3djEuNWMwIDEuMTk4LS45MzcgMi4xNzgtMi4xMTggMi4yNDZMMTMuNzUgMTZoLTcuNWMtMS4xOTggMC0yLjE3OC0uOTM3LTIuMjQ2LTIuMTE4TDQgMTMuNzV2LTcuNWMwLTEuMTk4LjkzNy0yLjE3OCAyLjExOC0yLjI0Nkw2LjI1IDRoMS41LTEuNXptOSAwbC4wNi4wMDIuMDkuMDEzLjA4NC4wMjIuMDgzLjAzMy4wNzQuMDQuMDcyLjA1LjA2Ny4wNi4wNzMuMDg0LjA1My4wODMuMDI0LjA0Ni4wMjUuMDYuMDE4LjA1OC4wMjIuMTEuMDA1LjA4OXYzYzAgLjQxNC0uMzM2Ljc1LS43NS43NXMtLjc1LS4zMzYtLjc1LS43NVY2LjU2bC0zLjIyIDMuMjJjLS4yNy4yNy0uNjk1LjI5MS0uOTkuMDYzbC0uMDctLjA2M2MtLjI3LS4yNy0uMjkxLS42OTUtLjA2My0uOTlsLjA2My0uMDcgMy4yMTgtMy4yMkgxMi4yNWMtLjQxNCAwLS43NS0uMzM2LS43NS0uNzVzLjMzNi0uNzUuNzUtLjc1aDN6Ii8+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=');
      }
    }
    &.oe-icon-raise-dispute {
      background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEzMTAgLTY5OSkgdHJhbnNsYXRlKDQyIDQ5MykgdHJhbnNsYXRlKDc0IDIwMSkgdHJhbnNsYXRlKDExOTQgNSkiPgogICAgICAgICAgICAgICAgICAgICAgICA8cmVjdCB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHg9Ii41IiB5PSIuNSIgZmlsbD0iI0ZGRiIgc3Ryb2tlPSIjQUNBQ0FDIiByeD0iMiIvPgogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBmaWxsPSIjNzE3MTcxIiBkPSJNMTMuMDAyIDExYy40MTQgMCAuNzUuMzM2Ljc1Ljc1IDAgLjM4NS0uMjkuNzAyLS42NjMuNzQ1bC0uMDg3LjAwNWgtNi40NGwxLjcyIDEuNzJjLjI3LjI3LjI5MS42OTYuMDYyLjk5bC0uMDYyLjA3Yy0uMjcuMjcxLS42OTYuMjkyLS45OS4wNjNsLS4wNy0uMDYyLTMtM2MtLjQ1My0uNDUyLS4xNjYtMS4yMTEuNDQ0LTEuMjc2TDQuNzUyIDExaDguMjV6bS0uMjkyLTUuODQzbC4wNy4wNjMgMyAzYy40NTMuNDUyLjE2NiAxLjIxLS40NDQgMS4yNzZsLS4wODYuMDA0SDdjLS40MTQgMC0uNzUtLjMzNi0uNzUtLjc1IDAtLjM4NC4yOS0uNzAyLjY2My0uNzQ1TDcgOGg2LjQ0bC0xLjcyLTEuNzJjLS4yNy0uMjctLjI5MS0uNjk1LS4wNjItLjk5bC4wNjItLjA3Yy4yNy0uMjcuNjk2LS4yOTEuOTktLjA2M3oiLz4KICAgICAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=');
      &:hover {
        background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMzEwIC01NjgpIHRyYW5zbGF0ZSgxMzEwIDU2OCkiPgogICAgICAgICAgICAgICAgPHJlY3Qgd2lkdGg9IjE5IiBoZWlnaHQ9IjE5IiB4PSIuNSIgeT0iLjUiIGZpbGw9IiNGRkYiIHN0cm9rZT0iI0IwRDhFNCIgcng9IjIiLz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9IiMwMzdEQTEiIGQ9Ik0xMy4wMDIgMTFjLjQxNCAwIC43NS4zMzYuNzUuNzUgMCAuMzg1LS4yOS43MDItLjY2My43NDVsLS4wODcuMDA1aC02LjQ0bDEuNzIgMS43MmMuMjcuMjcuMjkxLjY5Ni4wNjIuOTlsLS4wNjIuMDdjLS4yNy4yNzEtLjY5Ni4yOTItLjk5LjA2M2wtLjA3LS4wNjItMy0zYy0uNDUzLS40NTItLjE2Ni0xLjIxMS40NDQtMS4yNzZMNC43NTIgMTFoOC4yNXptLS4yOTItNS44NDNsLjA3LjA2MyAzIDNjLjQ1My40NTIuMTY2IDEuMjEtLjQ0NCAxLjI3NmwtLjA4Ni4wMDRIN2MtLjQxNCAwLS43NS0uMzM2LS43NS0uNzUgMC0uMzg0LjI5LS43MDIuNjYzLS43NDVMNyA4aDYuNDRsLTEuNzItMS43MmMtLjI3LS4yNy0uMjkxLS42OTUtLjA2Mi0uOTlsLjA2Mi0uMDdjLjI3LS4yNy42OTYtLjI5MS45OS0uMDYzeiIvPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K');
      }
    }
  }
  & .oe-icon-btn-wrapper {
    display: flex;
    justify-content: center;
    .oe-icon-btn {
      & > .hover {
        display: none;
      }
      &:hover{
        & .hover{
          display: inline;
        }
        & .normal{
          display: none;
        }
      }
    }
  }
}

.ant-modal-root {
  .oe-table {
    & .ant-table-thead > tr > th {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 600px) {
  .oe-table {
    padding: 0;
    & .ant-table {
      font-size: 12px;
    }
    & .ant-table-thead > tr > th {
      font-size: 13px;
    }
  }
}
