// Background colors
$background-color: #ffffff;
$background-color-collapse: #f7f7f7;
$background-color-table-head: #d9e7f6;
$form-hover-background: #f6fdff;
$disabled-background: #f5f5f5;

// Border colors
$border-color-normal: #979797;
$border-disabled: #d9d9d9;
$collapse-item-border: #d9d9d9;
$button-border: #c8caca;
$input-border: #ccc;

// Font colors
$title-color: #191919;
$subtitle-color: #191919;
$card-desc: #202020;
$color-table-head: #676768;
$color-table-cell: #202020;

// Theme default colors
$theme-blue: #037da1;
$theme-blue-hover: #05647f;
$theme-blue-font-color: #025c77;
$theme-link-color:#00a2d1;

// Shadow colors
$shadow-variant-1:rgba(0, 0, 0, 0.18);