// Background colors
$background-color: #ffffff;
$background-color-collapse: #f7f7f7;
$background-color-table-head: #d9e7f6;
$form-hover-background: #f6fdff;
$disabled-background: #f5f5f5;

// Border colors
$border-color-normal: #979797;
$border-disabled: #d9d9d9;
$collapse-item-border: #d9d9d9;
$button-border: #c8caca;
$input-border: #ccc;
$form-section-border: #e2dfdf;

// Font colors
$title-color: #191919;
$subtitle-color: #191919;
$typo-text-color: #202020;
$typo-title2-color: #4a4848;
$card-desc: #202020;
$color-table-head: #676768;
$color-table-cell: #202020;
$member-active: #1f8e0c;
$member-disabled: #f64a3f;
$member-active-icon: #51c03e;
$member-disabled-icon: #f64a3f;
$member-pending: #bf9f00;
$member-open: #008dcf;
$member-revoked: #e22e1c;
$member-approved: #258400;

// Theme default colors
$theme-primary: #037da1;
$theme-primary-hover: #05647f;
$theme-primary-font-color: #025c77;
$theme-link-color: #00a2d1;
$divider-color: #e8e8e8;

// Shadow colors
$shadow-variant-1: rgba(0, 0, 0, 0.18);
