// Font Size
$font-size-11:11px;
$font-size-12:12px;
$font-size-13:13px;
$font-size-14:14px;
$font-size-15:15px;
$font-size-22:22px;
$font-size-card-value:35px;
$font-size-card-desc:16px;

// Line Height
$line-height-normal:normal;
$line-height-14:14px;

// Font Weight
$font-weight-normal:normal;
$font-weight-400:400;
$font-weight-500:500;
$font-weight-600:600;

// Font Style
$font-style-normal:normal;
