@import "./../../assets/colors.scss";
@import "./../../assets/fonts.scss";

.oe-sc-row-padding {
  padding: 10px 0;
}

.oe-sc-search-label {
  margin: 0 8px;
}

.oe-sc-wrapper {
  margin-top: 24px;
}

.ant-row.ant-row-space-between.oe-sc-row-padding{
  margin-bottom: 10px;
}
.userStatus_active {
  color: $typo-member-status-active;
  div {
    position: absolute;
    padding-top: 2px;
    display: inline;
  }
  &::before {
    content: "";
    color: $typo-member-status-active;
    font-size: $font-size-10;
    background-color: $typo-member-status-active;
    padding-right: 11px;
    margin-right: 7px;
    border-radius: 11px;
  }
}

.userStatus_disable {
  color: $typo-member-status-disabled;
  div {
    position: absolute;
    padding-top: 2px;
    display: inline;
  }
  &::before {
    content: "";
    color: $typo-member-status-disabled;
    font-size: $font-size-10;
    background-color: $typo-member-status-disabled;
    padding-right: 11px;
    margin-right: 7px;
    border-radius: 11px;
  }
}

.certificationStatus {
  img {
    margin-right: 8px;
  }
}
.pending {
  color: $typo-member-certification-pending;
}
.open {
  color: $typo-member-certification-open;
}
.revoked {
  color: $typo-member-certification-revoked;
}
.approved {
  color: $typo-member-certification-approved;
}
