@import "./../../assets/colors.scss";
@import "./../../assets/fonts.scss";

.oe-sc-row-padding {
  padding: 10px 0;
  & .ant-col {
    & .oe-exportBtn {
      border-radius: 4px;
      border: 1px solid $button-border;
      height: 33px;
      padding: 7px 8px 9px;
      & span {
        padding: 0px 9px 0px 12px;
        &.oe-info-content-span {
          padding: 0;
        }
      }
      & .hover {
        display: none;
      }
      &:hover {
        border: 1px solid $theme-primary;
        color: $theme-primary-font-color;
        background-color: unset;
        & .hover {
          display: inline;
        }
        & .normal {
          display: none;
        }
      }
    }
  }
}

.oe-sc-search-label {
  margin: 0 8px;
}

.oe-sc-wrapper {
  margin-top: 24px;
}

.userStatus_active {
  color: $member-active;
  div {
    position: absolute;
    padding-top: 2px;
    display: inline;
  }
  &::before {
    content: "";
    color: $member-active-icon;
    font-size: $font-size-10;
    background-color: $member-active-icon;
    padding-right: 11px;
    margin-right: 7px;
    border-radius: 11px;
  }
}

.userStatus_disable {
  color: $member-disabled;
  div {
    position: absolute;
    padding-top: 2px;
    display: inline;
  }
  &::before {
    content: "";
    color: $member-disabled-icon;
    font-size: $font-size-10;
    background-color: $member-disabled-icon;
    padding-right: 11px;
    margin-right: 7px;
    border-radius: 11px;
  }
}

.certificationStatus {
  img {
    margin-right: 8px;
  }
}
.pending {
  color: $member-pending;
}
.open {
  color: $member-open;
}
.revoked {
  color: $member-revoked;
}
.approved {
  color: $member-approved;
}
