.oe-search-list {
  & .oe-infinite-container {
    max-height: 220px;
    overflow: auto;
  }
  & ul {
    list-style: none;
    padding: 0;
    padding-top: 10px;

    & li {
      padding: 8px;
      display: flex;
      justify-content: space-between;
      &:hover {
        background-color: #f2f2f2;
      }
      & .li-item-action {
        filter: brightness(0.44);
        cursor: pointer;
        & img {
          cursor: pointer;
        }
      }
    }
  }

  & .oe-loading-container {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  & .demo-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
}