@import "~antd/dist/antd.css";
@import "./assets/fonts.scss";
@import "./assets/colors.scss";

.oe-app {
  padding: 20px 20px;
  background-color: #edeff3;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  overflow-y: hidden;
}

.oe-section {
}
.oe-root-container {
  margin: 0 50px;
}
.oe-page-margin {
  margin: 0px;
}

body,
div {
  /* width */
  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    background-clip: content-box;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    display: hidden;
    border-radius: 0.3em;
  }
  &::-webkit-scrollbar-track:hover {
    display: block;
    cursor: pointer;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }
}

.home_tab {
  position: relative;
}

@media screen and (max-width: 600px) {
  .App {
    padding: 0;
  }
  .oe-page-margin {
    margin: 0 12px;
  }
}
