@import "~antd/dist/antd.css";
@import "./assets/fonts.scss";
@import "./assets/colors.scss";

.oe-app {
  // margin-top: 102px;
  padding: 0px 20px;
  background-color: #edeff3;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: calc(100vh - 100px);
  overflow-y: hidden;
}

.oe-root-container {
  margin: 0 50px;
}
.oe-page-margin {
  margin: 0px;
}

.home_tab {
  position: relative;
  padding-top: 3.5em;
}

@media screen and (max-width: 600px) {
  .App {
    padding: 0;
  }
  .oe-page-margin {
    margin: 0 12px;
  }
}
