body {
  margin: 0;
  font-family: 'Roboto-Regular', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .ant-popover-inner-content {
  padding: 24px;
  width: 600px;
  min-height: 450px;
} */

.oe-app *, .ant-modal-root *, .oe-overlay * {
  font-family: inherit;
}