@import "./../../assets/fonts.scss";
@import "./../../assets/colors.scss";

.oe-accordion {
  padding: 0px 32px;
  background-color: $background-color;
  &.ant-collapse {
    border: none;
  }
  &.ant-collapse-borderless > .ant-collapse-item {
    border: none;
  }
  &.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    padding: 12px 35px 12px 26px;
    background-color: $background-color-collapse;
    margin: 0 0 3px;
    min-height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid $border-variant-1;
    position: sticky;
    top: 0;
    z-index: 99;
  }
  & .oe-accordion-title {
    font-family: $primary-font-regular;
    font-size: $font-size-16;
    font-weight: $font-weight-bold;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: $line-height-normal;
    letter-spacing: normal;
    color: $typo-text-1;
  }
  & .oe-accordion-subtitle {
    font-family: $primary-font-regular;
    font-size: $font-size-14;
    line-height: $line-height-14;
    font-weight: $font-weight-normal;
    font-stretch: normal;
    font-style: $font-style-normal;
    line-height: $line-height-normal;
    letter-spacing: normal;
    color: $typo-text-1;
    margin: 2px 0px 0;
  }
  & .ant-collapse-content {
    border-top: 1px solid $border-variant-1;
  }
  &.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    background-color: $background-color;
    & .form-section {
      &:hover {
        background-color: $form-hover-background;
      }
    }
    .extended-property-section {
      border-bottom: 0px;
    }
  }

  &.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    padding: 20px 0px;
  }
}

.Chevron {
  position: relative;
  display: block;
  height: 32px; /*height should be double border*/
}
.Chevron:before,
.Chevron:after {
  position: absolute;
  display: block;
  content: "";
  border: 16px solid transparent; /*adjust size*/
}
/*Change four 'top' values below to rotate (top/right/bottom/left)*/
.Chevron:before {
  top: 0;
  border-top-color: #202020; /*Chevron Color*/
}
.Chevron:after {
  top: -4px; /*adjust thickness*/
  border-top-color: #000; /*Match background colour*/
}
